
@{
    ViewBag.Title = "Menu2";
}

<h2>Costumer</h2>
<div class="list-group">
    <div class="row container">
        <div class="well col-lg-12">
            Some Text Here! <br />
        </div>
        <div class="row ">
            <div class=" col-sm-12">
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-sm-8" align="left">
                    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-sort-by-attributes"></span></button>
                    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-sort-by-attributes-alt"></span></button>
                    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Search</button>
                    <input type="text" class="input-sm" />
                </div>
                <div class="col-sm-4" align="right">
                    <a href="../project/dashboard" class="btn btn-danger">Close</a>
                    <button type="button" class="btn btn-primary " id="myBtn" onclick="cmdAddButton_OnClick()">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>
<table id="costumerCollectionGrid" class="grid border-custom"></table>
<div>
    sadsa
</div>
<div>
    <div class="modal fade" id="myModal2" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">Costumer Detail</h2>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="add-form">
                        <div class="">
                            <div class="form-group row well">
                                <div class="col-sm-4">
                                    <label for="usr">First Name:</label>
                                    <input type="text" class="form-control requiredField" id="Fname">
                                </div>
                                <div class="col-sm-4">
                                    <label for="pwd">Midle Name:</label>
                                    <input type="text" class="form-control " id="Mname">
                                </div>
                                <div class="col-sm-4">
                                    <label for="pwd">Last Name:</label>
                                    <input type="text" class="form-control requiredField" id="Lname">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label for="pwd">Address:</label>
                                    <input type="text" class="form-control requiredField" id="Address">
                                </div>
                                <div class="col-sm-6">
                                    <label for="pwd">Contact Number:</label>
                                    <input type="text" class="form-control requiredField" id="ContactNumber">
                                </div>
                            </div>
                            <div class="form-group">

                            </div>
                            <div class="form-group">
                                <label for="pwd">Credit Lemit:</label>
                                <input type="text" class="form-control requiredField" id="CreditLimit">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnIDSaveCostumer" onclick="cmdAddCostumer()">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>




@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/software-js")
<script type="text/javascript">
    var costumerGrid;
    var costumerList;


    //Modal
    //$(document).ready(function () {
    //    $("#myBtn").click(function () {
    //        $("#myModal2").modal();
    //    });
    //});

    //edit modal
    //function cmdShowmodalClick() {
    //    $("#myModal").modal({
    //        show: true,
    //        backdrop: 'static'
    //    });
    //}

    // Costumer Entry Validation
    //
    function CostumerEntryValidate() {
        var isValid = true;
        $('.requiredField').each(function () {
            if ($.trim($(this).val()) == '') {
                isValid = false;
                $(this).css({
                    "border": "1px solid red"
                });
            }
            else {
                $(this).css({
                    "border": "",
                });
            }

        });
        return isValid;
    }
    // cmdAddCostumer
    function cmdAddCostumer() {
        var costumerObject = new Object();

        costumerObject.Fname = document.getElementById("Fname").value;
        costumerObject.Mname = document.getElementById("Mname").value;
        costumerObject.Lname = document.getElementById("Lname").value;
        costumerObject.Address = document.getElementById("Address").value;
        costumerObject.ContactNumber = document.getElementById("ContactNumber").value;
        costumerObject.CreditLimit = document.getElementById("CreditLimit").value;

        var data = JSON.stringify(costumerObject);

        var ID = document.getElementById("ID").value;
        if (CostumerEntryValidate() == false) {
            toastr.error("Fill out Form");
        } else {
            if (ID > 0) { // Update
                var itemdata = data;
                $('.dis').prop('disabled', true);
                $.ajax({
                    url: '/api/costumer/update/' + ID,
                    type: 'POST',
                    dataType: 'json',
                    data: itemdata,
                    contentType: "application/json;charset=utf-8",
                    cache: false,
                    statusCode: {
                        200: function () {
                            toastr.success("Update Success");
                            $('#myModal2').modal('hide');
                            refresh();
                        },
                        404: function () {
                            toastr.error("Edit Failed");
                        },
                        400: function () {
                            toastr.error("Edit Failed");
                        }
                    }
                });
            }
            else { // ADD
                $.ajax({
                    url: '/api/costumer/add/',
                    type: 'POST',
                    data: data,
                    contentType: "application/json;charset=utf-8",
                    cache: false,
                    statusCode: {
                        200: function () {
                            $('#myModal2').modal({
                                show: false,
                            });
                            toastr.success("Saved");
                            refresh();
                        },
                        400: function () {
                            toastr.error("Error");
                        }
                    }
                });
            }
        }
    }

    // Table Data

    function getMstCostumer() {
        var costumerList = new wijmo.collections.ObservableArray();
        //var apiUrl = "/api/costumer/list";
        $.ajax({
            url: '/api/costumer/list',
            cache: false,
            type: 'GET',
            contentType: 'application/json:charset=utf-8',
            data: {},
            success: function (result) {
                if (result.length > 0) {
                    for (var i = 0; i < result.length; i++) {
                        costumerList.push({
                            EditId: "<button class='btn btn-primary btn-xs btn-block' id='CostEditButton' onClick='cmdEditButton_OnClick()'><i class='fa fa-pencil'></i>Edit</button>",
                            DeleteId: "<button class='btn btn-danger btn-xs btn-block' id='CostDeleteButton' onClick='cmddeleteButton_Onclick()'><i class='fa fa-trash'></i>Delete</button>",
                            Fname: result[i]["Fname"],
                            Mname: result[i]["Mname"],
                            Lname: result[i]["Lname"],
                            Address: result[i]["Address"],
                            ContactNumber: result[i]["ContactNumber"],
                            CreditLimit: result[i]["CreditLimit"]
                        });
                    }
                }
            }
        });
        return costumerList;
    }

    //
    // Add modal Button Click
    //
    function cmdAddButton_OnClick() {
        $('#myModal2').modal({
            show: true,
            backdrop: 'static'
        });
        $('.requiredField').each(function () {
            $(this).css({
                "border": "",
            });
        });
        document.getElementById("Fname").value = "";
        document.getElementById("Mname").value = "";
        document.getElementById("Lname").value = "";
        document.getElementById("Address").value = "";
        document.getElementById("ContactNumber").value = "";
        document.getElementById("CreditLimit").value = "";
        document.getElementById("btnIDSaveCostumer").innerHTML = "Add"

    }

    // ===================
    // Edit Modal Button Onclick
    // ===================
    function cmdEditButton_OnClick() {
        $('#myModal2').modal({
            show: true,
            backdrop: 'static'
        });

        $('.requiredField').each(function () {
            $(this).css({
                "border": "",
            });
        });

        document.getElementById("Fname").value = costumerList.currentItem.Fname;
        document.getElementById("Mname").value = costumerList.currentItem.Mname;
        document.getElementById("Lname").value = costumerList.currentItem.Lname;
        document.getElementById("Address").value = costumerList.currentItem.Address;
        document.getElementById("ContactNumber").value = costumerList.currentItem.ContactNumber;
        document.getElementById("CreditLimit").value = costumerList.currentItem.CreditLimit;
        document.getElementById("btnIDSaveCostumer").innerHTML = "Update"
    }

    // On Page Load

    $(document).ready(function () {
        costumerList = new wijmo.collections.CollectionView(getMstCostumer());
        costumerList.pageSize = 15;

        costumerGrid = new wijmo.grid.FlexGrid('#costumerCollectionGrid');
        costumerGrid.initialize({
            columns: [
                {
                    header: "Edit",
                    binding: "EditId",
                    "align": "center",
                    "width": "2*",
                    "isContentHtml": true
                },
                {
                    header: "Delete",
                    binding: "DeleteId",
                    "align": "center",
                    "width": "2*",
                    "isContentHtml": true
                },
                {
                    header: "First Name",
                    binding: "Fname",
                    "align": "center",
                    "width": "5*"
                },
                {
                    header: "Midle Name",
                    binding: "Mname",
                    "align": "center",
                    "width": "5*"
                },
                {
                    header: "Last Name",
                    binding: "Lname",
                    "align": "center",
                    "width": "5*"
                },
                {
                    header: "Address",
                    binding: "Address",
                    "align": "center",
                    "width": "5*"
                },
                {
                    header: "Contact Number",
                    binding: "ContactNumber",
                    "align": "center",
                    "width": "5*"
                },
                {
                    header: "Credit Limit",
                    binding: "CreditLimit",
                    "align": "center",
                    "width": "5*"
                }],
            autoGenerateColumns: false,
            itemsSource: costumerList,
            isReadOnly: true,
            autoSizeMode: wijmo.grid.AutoSizeMode.Both,
            allowDragging: wijmo.grid.AllowDragging.None,
            selectionMode: wijmo.grid.SelectionMode.Row
        });
        costumerGrid.trackChanges = true;
    });


</script>
